*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    overflow-x: hidden;
}

button:hover, li:hover{
    cursor: pointer;
}

header{
    height: 75vh;
    width: 100vw;
    background-color: #111111;
    color: white;
}

nav{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    margin-top: 25px;
}

nav img{
    width: 70px;
    height: 25px;
    margin: 0 10%;
}

nav ul{
    display: flex;
    align-items: center;
    margin-left: 20%;
}

nav ul li{
    margin: 0 15px;
}

nav ul i{
    margin: 0 10px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container img{
    height: 395px;
    width: 400px;
}

.details{
    width: 40%;
    margin-right: 10%;
}

.details h4, .details h1{
    text-transform: capitalize;
}

.details h4{
    color: #ff3343;
}

.details h1{
    font-size: 2.8rem;
}

.details p{
    margin: 10px 0;
    font-size: 14px;
}

.details button{
    background-color: #c91b28;
    color: white;
    text-transform: uppercase;
    border: none;
    padding: 10px 25px;
    margin-top: 10px;
    font-weight: 600;
}

.grey-area{
    height: 120vh;
    width: 50%;
    background-color: #181818;
    position: absolute;
    left: 0;
    z-index: -1;
}

.dark-black{
    height: 120vh;
    width: 50%;
    background-color: #111111;
    position: absolute;
    right: 0;
    z-index: -1;
}

.main-card{
    color: white;
    display: flex;
    margin: 0 15%;
    margin-top: 70px;
}

.card{
    width: 250px;
    height: 255px;
    background-color: red;
    margin: 0 10px;
    padding: 20px 30px;
}
#card1, #card3{
    background-color: #1e1e1e;
}

#card2{
    background-color: #c91b28;
}

.card i{
    font-size: 40px;
    color: #c91b28;
}

.card h3{
    font-size: 20px;
    margin-top: 20px;
}

.card p{
    font-size: 15px;
    margin: 10px 0;
}

.card p i{
    font-size: 12px;
    padding-left: 5px;
    position: relative;
    top: 2px;
}

.card p:last-child{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: #c91b28;
}

#card2, #card2 i, #card2 p{
    color: #ffffff;
}

.achivement{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 400px;
    text-transform: capitalize;
    text-align: center;
}

.experience{
    font-size: 22px;
    font-weight: 700;
}

.experience span{
    font-size: 4.5rem;
    color: #ef4040;
    font-weight: 900;
}

.other-achivement{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #cacaca;
    width: 510px;
}

.achive{
    font-size: 14px;
    width: 240px;
    height: 100px;
    margin: 5px;
    padding-top: 20px;
    background-color: #1e1e1e;
}

.achive span{
    font-size: 2rem;
    color: #ef4040;
    font-weight: 700;
}

.featured-heading{
    background-color: #111111;
    color: #ffffff;
    padding: 30px 17%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.featured-text h1{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 900;
}

.featured-text p{
    font-size: 10px;
    margin: 10px 0;
}

.featured-heading button{
    background-color: #ff3343;
    color: #ffffff;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    border: none;  
}

.featured-projects{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #111111;
    color: #ffffff;
    width: 100%;
    padding-left: 15%;
}

.img{
    width: 360px;
    height: 300px;
    background-color: #1e1e1e;
}

.projects img{
    width: 320px;
    height: 170px;
    margin: 62px 20px;
}

.projects h4{
    text-transform: capitalize;
    font-weight: 900;
    margin: 15px 0;
    margin-left: 22%;
}

.projects p{
    text-transform: uppercase;
    font-size: 12px;
    color: #ff3343;
    font-weight: 700;
    margin-bottom: 30px;
    margin-left: 22%;
}

.projects p i{
    font-size: 10px;
}

.work-together{
    background-color: #111111;
    color: #ffffff;
    padding: 5% 15%;
}

.work-together > div{
    background-color: #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px;
}

.work-text p{
    font-size: 10px;
    width: 410px;
    margin: 20px 0;
}

.work-together > div button{
    background-color: #ef4040;
    text-transform: uppercase;
    padding: 10px 30px;
    color: #ffffff;
    border: none;
    font-size: 12px;
    font-weight: 700;
    margin-right: 70px;
}

.footer-social{
    background-color: #111111;
    color: #ffffff;
}

.footer-social ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-social ul li{
    font-size: 10px;
    text-transform: uppercase;
    margin: 20px;
}

.footer{
    background-color: #1e1e1e;
    display: flex;
    align-items: center;
    padding: 30px 0;
}

.footer img{
    width: 70px;
    height: 25px;
    margin: 0 20%;
}

.footer ul{
    display: flex;
}

.footer ul li{
    font-size: 15px;
    margin: 0 15px;
}

.footer ul li i{
    color: white;
}

/* Adding Responsiveness to the webpage */
@media only screen and (max-width: 600px) {
    nav img{
        display: none;
    }

    nav ul{
        width: 100%;
        margin: 0 auto;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    nav ul li{
        margin: 0 2px;
        margin-top: 10px;
    }

    nav ul i{
        margin: 0 5px;
    }

    header{
        height: auto;
    }

    .container{
        flex-direction: column;
        gap: 15px;
    }

    .details{
        width: 80%;
        text-align: center;
        margin-bottom: 20px;
        margin-right: 0;
    }
    
    .main-card{
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
        align-content: center;
        margin-top: 20px;
        height: auto;
    }

    .card{
        width: auto;
        height: fit-content;
        padding: 15px;
    }

    .achivement{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: auto;
        height: auto;
        margin-top: 15px;
        background-color: #111111;
    }

    .other-achivement{
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .featured-heading{
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }

    .featured-projects{
        width: 100%;
        margin: auto;
        padding-left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 20px 0;
    }

    .img{
        height: fit-content;
        width: fit-content;
    }

    .projects p, .projects h4, .projects img{
        margin: 0;
        padding: 0;
        text-align: center;
        margin: 5px 0;
    }

    .work-together > div{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .work-together > div button{
        margin-right: 0;
    }

    .work-together{
        padding: 5%;
    }
    
    .work-text{
        text-align: center;
    }

    .work-text h1{
        width: 100%;
        font-size: 25px;
    }

    .work-text p{
        width: 100%;
    }

    .footer-social ul li{
        margin: 20px 10px;
    }

    .footer{
        justify-content: space-around;
    }
    
    .footer img{
        margin: 0;
    }
  }